<!DOCTYPE html>
<html>

<head>
  <title>server</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
  <div class="main">
    <h1>
      <%= title %>
    </h1>
    <h2>服务器已启动</h2>
    <span>
      Listening on
      <a href="http://localhost:3000">http://localhost:3000</a>
      ...
    </span>
  </div>
</body>

</html>